body {
    font-family: Arial, sans-serif;
    background-color: #d4c5c5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h1{
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #c0c0c0;
    padding: 10px;
    border-radius: 8px;
    margin: 4px;
    width: 300px;
    overflow: hidden;
    font-size: 21px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button1{
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;

}
button:hover{
    background-color: #4caf4fd3;
}
.button-container button.edit {
    background-color: #ff9800;
}
.button-container button.delete {
    background-color: #ff2828;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px #66afe9;
}

#task{
    width: 240px;
    height: 28px;
    font-size: 20px;
    padding: 3px;
    padding-left: 7px;
    margin: 3px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px;
}
#task:focus{
    
  border: 2px solid #4caf50;
  border-radius: 4px 4px 2px 2px;
}

.img-preview {
    width: 100%;
    max-height: 200px;
    margin-top: 10px;
    display: none;
}
.bvb4 {
    background-color: #8dd5d6;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    width: 146px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bvb4:hover{
    background-color: #bddedf;
}
.bvb9{
    display: none;
    margin: 3px;
}
.img_pr7{
    width: 200px;
}
#image{
    background-color: white;
    border-radius: 10px;
    width: 240px;
}

.gg{
    margin: 3px;
    font-size: 20px;
    font-weight: 700;
}
#taskForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 241, 214);
    width: 90%;
    padding: 10px;
    border-radius: 20px;

}
.entry-date {
    font-size: 17px;
    color: #646464;
}







@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
    .card{
        width: 93%;
    }
    #taskForm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}
